* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(109, 107, 107);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.li {
  list-style-type: none;

}

.btn1, .btn2, .btn3, .btn4 {
  display: flex;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  border: solid 1px white;
  margin-top: 2px;
}

.btn:hover {
  border: solid 1px black;
}

#start-button {
  background-color: darkgreen;
  color: white;
  width: 150px;
  height: 50px;
}

#start-button:hover {
  background-color: darkolivegreen;
}

.start {
  display: flex;
  justify-content: center;
}

#question {
  font-size: 40px;
}

.time {
  font-size: 25px;
  text-align: right;
  margin-bottom: 10px;
}

.hide {
  display: none;
}


.correct-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.correct {
  color: greenyellow;
  font-size: 25px;
}

.incorrect {
  color: darkred;
  font-size: 25px;
}
